<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906508848480-7bj02o473bch0kiv08at0f2mbjlijf82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906508848480-7bj02o473bch0kiv08at0f2mbjlijf82</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>906508848480-4k22a4ci1n4ji2fqqki0kh8vsr1kcibc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjw43X9r9swQMMJl2et_wNPvD4hLtSUOI</string>
	<key>GCM_SENDER_ID</key>
	<string>906508848480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mathosproject</string>
	<key>PROJECT_ID</key>
	<string>mathosproject-f2a53</string>
	<key>STORAGE_BUCKET</key>
	<string>mathosproject-f2a53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906508848480:ios:3eed7bc23c7801e7562205</string>
</dict>
</plist>