<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>ad-hoc</string>
    <key>teamID</key>
    <string>B52A7MB8CX</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.example.mathosproject</key>
        <string>Kamil test</string> <!-- Assurez-vous que le profil est bien de type ad-hoc -->
    </dict>
    <key>signingCertificate</key>
    <string>Apple Distribution</string>
    <key>signingStyle</key>
    <string>manual</string>
</dict>
</plist>
